.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-bottom-style);
  padding: 10px 5px 10px 0px;
  box-sizing: border-box;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 20px;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  align-items: center;
  flex: 0.7;
  background-color: var(--hover-grey-color);
  padding: 5px;
  border-radius: 5px;
}
.header__middle > .MuiSvgIcon-root {
  color: grey;
}

.header__middle > input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline-width: 0;
  font-size: medium;
  margin-left: 15px;
}

.header__right {
  flex: 0.15;
  justify-content: space-around;
}

@media only screen and (max-width: 470px) {
  .header__right {
    display: none;
  }

  .header__middle {
    flex: 0.9;
    transition: 0.2s;
    margin-right: 5px;
  }
}
